.header {
	width: 100%;
	&__container {
		display: flex;
		justify-content: space-between;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	&__nav {
		
	}

	ul{
		list-style-type: none;
		@include flex(center,space-between);
		@include adaptive-value-tablet(gap,48,20)
	}
}

.nav {

	&__menu {}
}